* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: lcd;
    src: url(../font/SUBWT___.ttf);
}

html {
    font-size: 62.5%;
    background-color: black;
}

body {
    align-items: center;
}

main {
    max-width: 500px;
    padding-left: 20px;
    padding-top: 10px;
    display: flex;
}

main input {
    width: 100%;
    font-size: 3.5rem;
    margin-bottom: 10px;
    background-color: black;
    color: green;
    text-align: right;
    padding: 10px 4px 10px 4px;
    font-family: lcd;
    border: 1px solid yellow;
    border-radius: 4px;
}


main section#keyBoard {
    /** Grid eller liknade */
    max-width: 410px;
    display: grid;
    grid-template-columns: repeat(4, 1 fr);
    gap: 3px;

}

button {
    padding: 30px;
    font-size: 3rem;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background-color: grey;
}

button.spec {
    color: rgb(25, 201, 201);
}

button {
    font-weight: 900;
}

@media (max-width: 767px) {}

@media (max-width: 339px) {
    main {}

}